<section class="container" ng-controller="studyController">
    <h1>Study Material</h1>
    <p>{{ message }}</p>
    <div class="">
        <h3>1) What is the supreme law of the land?</h3>
        <ul>
            <li>the Constitution</li>
        </ul>
        <p>
            The Founding Fathers of the United States wrote the Constitution in 1787. The Constitution is the “supreme
            law of the land.” The U.S. Constitution has lasted longer than any other country’s constitution. It
            establishes the basic principles of the United States government. The Constitution establishes a system of
            government called “representative democracy.” In a representative democracy, citizens choose representatives
            to make the laws. U.S. citizens also choose a president to lead the executive branch of government. The
            Constitution lists fundamental rights for all citizens and other people living in the United States. Laws
            made in the United States must follow the Constitution.
        </p>
    </div>
</section>